.cart-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cart-screen-title {
    text-transform: uppercase;
}