@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.container {
    margin: 2em 7em;
}

.container-title {
    font-family: 'Montserrat', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}