@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.loading {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #1D3557;
    text-transform: uppercase;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #1D3557;
    border-bottom: 8px solid #1D3557;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}