@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.card {
    flex: 0 1 calc(25% - 1em);
    border: 2px #E63946 solid;
    border-radius: 15px;
    margin: 0.8em 0.5em;
    padding-bottom: 1.5em;
    text-align: center;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-img {
    width: 70%;
    height: auto;
    border-radius: 15px;
    margin: 0.7em 0.35em 0.35em 0.35em;
    text-align: center;
    transition: all 1s linear;
}

.card-img:hover {
    transform: scale(1.02);
    opacity: 1;
}

.card-name, .card-desc, .card-price {
    margin: 0.35em 0.35em 0.7em 0.35em;
}

.card-name {
    text-transform: uppercase;
    color: #E63946;
}


.card-price {
    margin-bottom: 1.4em;
}

.card-btn {
    background-color: #E63946;
    color: #F1FAEE;
    border: 2px #E63946 solid;
    border-radius: 15px;
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.card-btn:hover {
    color: #E63946;
    background-color: #F1FAEE;
}