@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.about-container {
    font-family: 'Montserrat', sans-serif;
}

.about-title {
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    color: #E63946;
}

.about-text {
    margin-top: 1em;
}

.about-p {
    margin: 1em 0;
}