@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    color: #E63946;
    margin: 2em 0;
}

.menu-link {
    padding: 10px;
    text-transform: uppercase;
}

.menu-link:hover {
    color: #1D3557;
}