@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* --- RESET --- */

* {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

/* --- OTHER --- */

html {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none !important;
}