@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #E63946;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 0 !important;
}

.sm-icon {
    padding: 10px;
    font-size: 1.8em;
}

.sm-icon:hover {
    color: #1D3557;
}